body {
  font-family: "Cinzel", serif;
  background-color: #1e1a2b;
  color: white;
  margin: 0;
  padding: 0;

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    text-align: center;

    section {
      background-color: #2a1f44;
      padding: 30px;
      border-radius: 15px;
      width: 80%;
      max-width: 500px;
      box-shadow: 0 0 15px rgba(190, 140, 255, 0.2);
      margin: 1em;

      h2 {
        font-size: 2em;
        color: #8b5cf6;
      }

      p {
        font-size: 1.1em;
        margin-bottom: 20px;
      }

      .btn-primary {
        display: inline-block;
        background-color: #8b5cf6;
        color: white;
        padding: 10px 20px; /* Augmenter les paddings pour un bouton plus visible */
        font-size: 1em;
        text-decoration: none;
        border-radius: 8px;
        transition: background-color 0.3s;
        margin-top: 20px; /* Espacement au-dessus du bouton */
      }

      .btn-primary:hover {
        background-color: #7c3aed;
      }
    }
  }
}
